<p-card>
    <p-divider align="left">
        <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-bars p-mr-2"></i>
            <b>Datos Generales</b>
        </div>
    </p-divider>

    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-4">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Tipo Correlativo</label>
                        <div class="p-col">
                            <p-dropdown #myTipoComprobante title="Tipo Correlativo" [(ngModel)]="dto.tipocomprobante" [filter]="true" [options]="lstTipos" [disabled]="!accionnuevo " [style]="{'width':'100%'}">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Serie</label>
                        <div class="p-col">
                            <input #mySerie title="Serie" pInputText [(ngModel)]="dto.serie" maxlength="4" type="text" [disabled]="!accionnuevo" pKeyFilter="alphanum" (ngModelChange)="dto.serie = $event.toUpperCase()" [style]="{'width':'100%'}" />
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-5">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Descripción</label>
                        <div class="p-col">
                            <input #myDescripcion title="Descripción" pInputText [(ngModel)]="dto.descripcion" maxlength="50" type="text" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}" />
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Compañía</label>&nbsp;
                        <p-checkbox [disabled]="!accionnuevo" (onChange)="validarCompania()" [(ngModel)]="otraCompania" binary="true" inputId="binary"></p-checkbox>
                        <div class="p-col">
                            <p-dropdown #myCompania title="Compañía" [(ngModel)]="dto.companiacodigo" style="width: 100% !important;" (onChange)="onChangeCompania($event)" [options]="lstCompanias" [disabled]="!accionnuevo " [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-divider align="left">
        <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-bars p-mr-2"></i>
            <b>Valores</b>
        </div>
    </p-divider>

    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Número Actual</label>
                        <div class="p-col">
                            <input #myCorrelativoNumero title="Número Actual" class="derecha" pKeyFilter="int" pInputText [(ngModel)]="dto.correlativonumero" maxlength="20" type="text" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}" />
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Rango Desde</label>
                        <div class="p-col">
                            <input #myCorrelativoDesde title="Rango Desde" class="derecha" pKeyFilter="int" pInputText [(ngModel)]="dto.correlativodesde" maxlength="20" type="text" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}" />
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Hasta</label>
                        <div class="p-col">
                            <input #myCorrelativoHasta title="Hasta" class="derecha" pKeyFilter="int" pInputText [(ngModel)]="dto.correlativohasta" maxlength="20" type="text" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}" />
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-3"> </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Estado</label>
                        <div class="p-col">
                            <p-dropdown #myEstado title="Estado" [(ngModel)]="dto.estado" [options]="lstEstados" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-card>

<app-auditoria [tipoAuditoria]="TIPOSAUDITORIA.BAS2C" [modificacionUsuario]="dto.ultimousuario" [modificacionFecha]="dto.ultimafechamodif">
</app-auditoria>

<app-botones-mantenimiento [objTitulo]="objetoTitulo" [tipo]="TIPOSBOTONES_MANTENIMIENTO.BAS21">
</app-botones-mantenimiento>

<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger" (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<style>
    .derecha {
        text-align: right;
    }
</style>