<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger" (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-card>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-4">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label">Aplicación</label>
                        <div class="p-col">
                            <input [(ngModel)]="filtro.aplicacioncodigo" [style]="{'width':'100%'}" pInputText type="text" maxlength="2" (keypress)="preBuscar($event, dtAplicacionmast)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-botones-listado [objTitulo]="objetoTitulo" [tipo]="TIPOSBOTONES_LISTADO.BAS3B">
    </app-botones-listado>

    <p-table #dtAplicacionmast [value]="filtro.paginacion.paginacionListaResultado" [paginator]="true" [responsive]="true" [scrollable]="true" [style]="{ width: '100%'}" [rows]="filtro.paginacion.paginacionRegistrosPorPagina" [lazy]="true" scrollHeight="400px"
        (onLazyLoad)="grillaCargarDatos($event)" [totalRecords]="filtro.paginacion.paginacionRegistrosEncontrados" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
        <ng-template pTemplate="header">
            <tr>
                <th class="tablaHeaderAccion3">Acción</th>
                <th class="tablaHeaderCodigoChico">Aplicación</th>
                <th class="tablaHeaderIzquierda">Descripción Local</th>
                <th class="tablaHeaderEstado">Periodo</th>
                <th class="tablaHeaderCodigoChico">Prefijo Voucher</th>
                <th class="tablaHeaderEstado">Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td class="tablaColumnaAccion3">
                    <span class="p-column-title">Acción</span>

                    <table>
                        <tr>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text botonGrilla" title="Editar" *ngIf="menuSeguridad.flgModificar" (click)="coreEditar(row)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-search" class="p-button-rounded p-button-text botonGrilla" title="Ver" *ngIf="menuSeguridad.flgModificar" (click)="coreVer(row)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fal fa-trash-alt" class="p-button-rounded p-button-danger p-button-text botonGrilla" title="Eliminar" *ngIf="menuSeguridad.flgBorrar" (click)="coreEliminar(row)"></button>
                            </th>
                        </tr>
                    </table>

                </td>
                <td class="tablaColumnaCodigoChico">
                    <span class="p-column-title">Aplicación</span> {{row.aplicacioncodigo}}
                </td>
                <td class="tablaColumnaIzquierda">
                    <span class="p-column-title">Descripción Local</span> {{row.descripcioncorta}}
                </td>

                <td class="tablaColumnaEstado">
                    <span class="p-column-title">Periodo</span> {{row.ultimoperiodocontable}}
                </td>
                <td class="tablaColumnaCodigoChico">
                    <span class="p-column-title">Prefijo Voucher</span> {{row.aplicacionusuario}}
                </td>
                <td class="tablaColumnaEstado">
                    <span class="p-column-title">Estado</span>
                    <label *ngIf="row.estado == 'A'" class="tablaEstadoActivo">Activo</label>
                    <label *ngIf="row.estado == 'I'" class="tablaEstadoInactivo">Inactivo</label>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="6">
                    No existen registros para mostrar
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>