<p-card>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-4">
                    <label class="importante">Sucursal Grupo</label>
                    <input #mySucursalgrupo title="Sucursal Grupo" class="inputCodigo" pInputText
                        [(ngModel)]="dto.sucursalgrupo" maxlength="4" type="text"
                        [disabled]="!objetoTitulo.puedeEditarPk" [style]="{'width':'100%'}"
                        (ngModelChange)="dto.sucursalgrupo=$event.toUpperCase()" required />
                </div>
                <div class="p-col-12 p-md-8"></div>
                <div class="p-col-12 p-md-4">
                    <label class="importante">Sucursal Grupo Mayor</label>
                    <p-dropdown #mySucursalgrupoMayor title="Sucursal Grupo Mayor" [(ngModel)]="dto.sucursalgrupomayor"
                        [disabled]="!objetoTitulo.puedeEditarPk" [options]="lstGrupoMayor" [style]="{'width':'100%'}"
                        [filter]="true" required>
                    </p-dropdown>
                    <!--   <input #mySucursalgrupoMayor title="Sucursal Grupo Mayor" class="inputDescripcion" pInputText
                        [(ngModel)]="dto.sucursalgrupomayor" maxlength="4" type="text"
                        [disabled]="!objetoTitulo.puedeEditarPk" [style]="{'width':'100%'}"
                        (ngModelChange)="dto.sucursalgrupomayor=$event.toUpperCase()" /> -->
                </div>
                <div class="p-col-12 p-md-8"></div>
                <div class="p-col-12 p-md-4">
                    <label class="importante">Descripción Local</label>
                    <input #myDescripcionlocal title="Descripción Local"  class="inputDescripcion" pInputText [(ngModel)]="dto.descripcionlocal" maxlength="30"
                        type="text" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}"
                        (ngModelChange)="dto.descripcionlocal=$event.toUpperCase()" />
                </div>
                <div class="p-col-12 p-md-8"></div>
                <div class="p-col-12 p-md-4">
                    <label>Descripción Ingles</label>
                    <input class="inputDescripcion" pInputText [(ngModel)]="dto.descripcioningles" maxlength="30"
                        type="text" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}"
                        (ngModelChange)="dto.descripcioningles=$event.toUpperCase()" />
                </div>
                <div class="p-col-12 p-md-8"></div>
                <div class="p-col-12 p-md-4">
                    <label>Estado</label>
                    <p-dropdown [(ngModel)]="dto.estado" [options]="lstEstados" [disabled]="!objetoTitulo.puedeEditar"
                        [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</p-card>

<app-auditoria [tipoAuditoria]="TIPOSAUDITORIA.BAS2C" [modificacionUsuario]="dto.ultimousuario"
    [modificacionFecha]="dto.ultimafechamodif">
</app-auditoria>

<app-botones-mantenimiento [objTitulo]="objetoTitulo" [tipo]="TIPOSBOTONES_MANTENIMIENTO.BAS2B">
</app-botones-mantenimiento>