<div class="p-fluid p-grid formularioFila">
    <div class="p-col-12 p-md-2" *ngIf="accionPadre == ACCIONES.EDITAR">
        <br>
        <button pButton pRipple type="button" label="Nuevo" icon="fa fa-plus" (click)="nuevo()"></button>
    </div>
    <div class="p-col-12 p-md-12">
        <br>
        <p-table [rows]="20" [style]="{ width:'100%' }" [responsive]="true" [scrollable]="true" scrollWidth="100%"
            [paginator]="true" [totalRecords]="lista.length" [value]="lista" [(selection)]="registroSeleccionado"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" selectionMode="single">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tablaHeaderAccion3">Acciones</th>
                    <th class="tablaHeaderCodigo">Tipo</th>
                    <th class="tablaHeaderNombre">Dirección</th>
                    <th class="tablaHeaderNombreMedio">Referencia</th>
                    <th class="tablaHeaderNombre">Dpto-Prov-Dist</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td class="tablaColumnaAccion3">
                        <span class="p-column-title">Acciones</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                        *ngIf="accionPadre == ACCIONES.EDITAR"
                                        class="p-button-rounded p-button-text botonGrilla" title="Editar"
                                        (click)="editar(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-search"
                                        class="p-button-rounded p-button-text botonGrilla" title="Ver"
                                        (click)="ver(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-times"
                                        *ngIf="accionPadre == ACCIONES.EDITAR"
                                        class="p-button-rounded p-button-text p-button-warning botonGrilla"
                                        title="Eliminar" (click)="eliminar(rowData)"></button>
                                </th>
                            </tr>
                        </table>
                    </td>
                    <td class="tablaColumnaCodigo">
                        <span class="p-column-title">Tipo</span>
                        {{rowData.auxTipoNombre}}
                    </td>
                    <td class="tablaColumnaNombre">
                        <span class="p-column-title">Dirección</span>
                        {{rowData.direccion}}
                    </td>
                    <td class="tablaColumnaNombreMedio">
                        <span class="p-column-title">Referencia</span>
                        {{rowData.referenciasdireccion}}
                    </td>
                    <td class="tablaColumnaNombre">
                        <span class="p-column-title">Dpto-Prov-Dist</span>
                        {{rowData.auxUbigeoNombre}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="5">
                        No existen registros para mostrar
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<div class="p-fluid">
    <p-dialog [(visible)]="verMantenimiento" [modal]="true" [responsive]="true" [resizable]="false"
        header="DIRECCIÓN : {{accion == ACCIONES.NUEVO?'Nuevo':accion == ACCIONES.EDITAR?'Editar':'Vista Previa'}}"
        [draggable]="true" [closable]="true" [closeOnEscape]="true" showEffect="size" [responsive]="true"
        [breakpoint]="850" [style]="{'max-width':'850px', 'left':'15px', 'right':'15px'}">

        <div class="p-grid">
            <div class="p-col-12 p-md-3 p-lg-3">
                <span class="importante">Tipo</span>
                <p-dropdown appendTo="body" [style]="{ 'width': '100%'}" [disabled]="accion==ACCIONES.VER"
                    [(ngModel)]="dto.pdttipocalle" [options]="tipovias"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-5 p-lg-5">
                <span class="importante">Dirección</span>
                <input pInputText type="text" [(ngModel)]="dto.direccion" maxlength="200"
                    [disabled]="accion==ACCIONES.VER" />
            </div>

            <div class="p-col-12 p-md-2 p-lg-2">
                <span>N°</span>
                <input pInputText type="text" [(ngModel)]="dto.numero" maxlength="5"
                    [disabled]="accion==ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-2 p-lg-2">
                <span>Interior</span>
                <input pInputText type="text" [(ngModel)]="dto.interior" maxlength="5"
                    [disabled]="accion==ACCIONES.VER" />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-2 p-lg-2">
                <span>Departamento</span>
                <input pInputText type="text" [(ngModel)]="dto.numdep" maxlength="5"
                    [disabled]="accion==ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-2 p-lg-2">
                <span>Manzana</span>
                <input pInputText type="text" [(ngModel)]="dto.manzana" maxlength="5"
                    [disabled]="accion==ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-2 p-lg-2">
                <span>Lote</span>
                <input pInputText type="text" [(ngModel)]="dto.lote" maxlength="5" [disabled]="accion==ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-2 p-lg-2">
                <span>Km.</span>
                <input pInputText type="text" [(ngModel)]="dto.kilometro" maxlength="4"
                    [disabled]="accion==ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-2 p-lg-2">
                <span>Sector / Block</span>
                <input pInputText type="text" [(ngModel)]="dto.sector" maxlength="4"
                    [disabled]="accion==ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-2 p-lg-2">
                <span>Etapa</span>
                <input pInputText type="text" [(ngModel)]="dto.etapa" maxlength="4" [disabled]="accion==ACCIONES.VER" />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-2 p-lg-2">
                <span>Tipo de Zona</span>
                <p-dropdown appendTo="body" [style]="{'width': '100%'}" [disabled]="accion==ACCIONES.VER"
                    [(ngModel)]="dto.pdttipozona" [options]="zonas"></p-dropdown>
            </div>
            <div class="p-col-12 p-md-3 p-lg-3">
                <span>Zona</span>
                <input pInputText type="text" [(ngModel)]="dto.pdtzona" maxlength="20"
                    [disabled]="accion==ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-3 p-lg-3">
                <span>Referencia</span>
                <input pInputText type="text" [(ngModel)]="dto.referenciasdireccion" maxlength="60"
                    [disabled]="accion==ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-3 p-lg-3">
                <label>Indicar para Centro Essalud</label>
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <p-radioButton name="groupname" value="S" [(ngModel)]="dto.flagcentroessalud" label="Si"
                                [disabled]="accion==ACCIONES.VER"></p-radioButton>
                        </td>
                        <td>
                            <p-radioButton name="groupname" value="N" [(ngModel)]="dto.flagcentroessalud" label="No"
                                [disabled]="accion==ACCIONES.VER"></p-radioButton>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <span class="importante">Dpto-Prov-Dist</span>
                <div class="p-inputgroup">
                    <input pInputText type="text" disabled style="width:100%;flex: 5;"
                        [ngModel]="dto.auxUbigeoNombre" />
                    <button pButton icon="fa fa-binoculars " [disabled]="accion==ACCIONES.VER" class="p-button"
                        [style]="{'flex': '1'}" type="button " (click)="mostrarSelectorUbigeo() "
                        title="Buscar "></button>
                    <button pButton icon="fa fa-trash " [disabled]="accion==ACCIONES.VER" class="p-button"
                        [style]="{'flex': '1'}" type="button " (click)="limpiarUbigeo()" title="Limpiar "></button>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <br>
                <button pButton pRipple type="button" label="Guardar" style="width:100%;" icon="fad fa-save"
                    *ngIf="accion!=ACCIONES.VER" class="p-button-outlined" (click)="guardar()"></button>
            </div>
            <div class="p-col-12 p-md-8"></div>
            <div class="p-col-12 p-md-2">
                <br>
                <button pButton pRipple type="button" label="Salir" style="width:100%;" icon="fad fa-reply"
                    class="p-button-outlined p-button-secondary" (click)="verMantenimiento=false"></button>
            </div>
        </div>
    </p-dialog>
</div>

<app-selector-ubicaciongeografica-postulante></app-selector-ubicaciongeografica-postulante>