<div class="p-fluid p-grid formularioFila">
    <div class="p-col-12 p-md-2" *ngIf="accionPadre == ACCIONES.EDITAR">
        <br>
        <button pButton pRipple type="button" label="Nuevo" icon="fa fa-plus" (click)="nuevo()"></button>
    </div>
    <div class="p-col-12 p-md-12">
        <br>
        <p-table [rows]="20" [style]="{ width:'100%' }" [responsive]="true" [scrollable]="true" scrollWidth="100%"
            [paginator]="true" [totalRecords]="lista.length" [value]="lista" [(selection)]="registroSeleccionado"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" selectionMode="single">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tablaHeaderAccion3">Acciones</th>
                    <th class="tablaHeaderNombreMedio">Empresa</th>
                    <th class="tablaHeaderNombreMedio">Cargo</th>
                    <th class="tablaHeaderNombreMedio">Nombre Jefe</th>
                    <th class="tablaHeaderNombreMedio">Dirección</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td class="tablaColumnaAccion3">
                        <span class="p-column-title">Acciones</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                        *ngIf="accionPadre == ACCIONES.EDITAR"
                                        class="p-button-rounded p-button-text botonGrilla" title="Editar"
                                        (click)="editar(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-search"
                                        class="p-button-rounded p-button-text botonGrilla" title="Ver"
                                        (click)="ver(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-times"
                                        *ngIf="accionPadre == ACCIONES.EDITAR"
                                        class="p-button-rounded p-button-text p-button-warning botonGrilla"
                                        title="Eliminar" (click)="eliminar(rowData)"></button>
                                </th>
                            </tr>
                        </table>
                    </td>
                    <td class="tablaColumnaNombreMedio">
                        <span class="p-column-title">Empresa</span>
                        {{rowData.empresa}}
                    </td>
                    <td class="tablaColumnaNombreMedio">
                        <span class="p-column-title">Cargo</span>
                        {{rowData.cargo}}
                    </td>
                    <td class="tablaColumnaNombreMedio">
                        <span class="p-column-title">Nombre Jefe</span>
                        {{rowData.nombre}}
                    </td>
                    <td class="tablaColumnaNombreMedio">
                        <span class="p-column-title">Dirección</span>
                        {{rowData.direccion}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="5">
                        No existen registros para mostrar
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<div class="p-fluid">
    <p-dialog [(visible)]="verMantenimiento" [modal]="true" [responsive]="true" [resizable]="false"
        header="REFERENCIA LABORAL : {{accion == ACCIONES.NUEVO?'Nuevo':accion == ACCIONES.EDITAR?'Editar':'Vista Previa'}}"
        [draggable]="true" [closable]="true" [closeOnEscape]="true" showEffect="size" hideEffect="size"
        [style]="{'width':'800px'}">
        <div class=" p-grid">
            <div class="p-col-12 p-md-8 p-lg-8">
                <span class="importante">Nombre Jefe</span>
                <input pInputText type="text" [(ngModel)]="dto.nombre" maxlength="500"
                    [disabled]="accion == ACCIONES.VER" />
            </div>

            <div class="p-col-12 p-md-4 p-lg-4">
                <span class="importante">Teléfono</span>
                <input pInputText type="text" [(ngModel)]="dto.telefono" pKeyFilter="int" maxlength="50"
                    [disabled]="accion == ACCIONES.VER" />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <span class="importante">Cargo</span>
                <input pInputText type="text" [(ngModel)]="dto.cargo" maxlength="500"
                    [disabled]="accion == ACCIONES.VER" />
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <span class="importante">Empresa</span>
                <input pInputText type="text" [(ngModel)]="dto.empresa" maxlength="500"
                    [disabled]="accion == ACCIONES.VER" />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <span class="importante">Dirección</span>
                <input pInputText type="text" [(ngModel)]="dto.direccion" maxlength="500"
                    [disabled]="accion == ACCIONES.VER" />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <span>Observaciones</span>
                <textarea [(ngModel)]="dto.observaciones" maxlength="1000" style="width:100% "
                    [disabled]="accion == ACCIONES.VER"></textarea>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <br>
                <button pButton pRipple type="button" label="Guardar" style="width:100%;" icon="fad fa-save"
                    *ngIf="accion != ACCIONES.VER" class="p-button-outlined" (click)="guardar()"></button>
            </div>
            <div class="p-col-12 p-md-8"></div>
            <div class="p-col-12 p-md-2">
                <br>
                <button pButton pRipple type="button" label="Salir" style="width:100%;" icon="fad fa-reply"
                    class="p-button-outlined p-button-secondary" (click)="verMantenimiento=false"></button>
            </div>
        </div>
    </p-dialog>
</div>