

<div class="ui-fluid">
    <p-dialog header="SYREPORTE ARCHIVO" [(visible)]="verSelector" modal="modal" showEffect="fade" hideEffect="size" [style]="{'max-width':'500px', 'left':'15px', 'right':'15px', 'margin-top':'25px'}">
        <p-panel header="">
            <!-- <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-lg-4">
                    <p-fileUpload #fotoFile mode="basic" url="{{api}}api/spring/core/companyownerimagenes/procesa" (onUpload)="onUpload($event)"
                        auto="true" maxFileSize="1000000" (onBeforeSend)="appendHeaders($event)" name="myfile" chooseLabel="Subir Archivo"
                        [disabled]="estadoRegistrado">
                    </p-fileUpload>
                </div>
            </div> -->

            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <label>Nombre Archivo</label>
                </div>

                <div class="ui-g-12 ui-md-12 ui-lg-5">
                    <input pInputText type="text" [(ngModel)]="nombreArchivo" disabled/>
                </div>
            </div>
            

        </p-panel>

        <br>
        <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <button pButton pRipple type="button" label="Guardar" icon="fad fa-save" 
                    class="p-button-outlined" (click)="guardar()"></button>            
                </div>
                <div class="ui-g-4 ui-md-8 ui-lg-6"></div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">                    
                    <button pButton pRipple type="button" label="Salir" icon="fad fa-reply" 
                    class="p-button-outlined" (click)="verSelector=false"></button>
                </div>

            </div>
    </p-dialog>
</div>