
                <div *ngIf="tipo0">
                </div>                       
                
                <div *ngIf="tipo1" class="p-field p-grid formularioFilaBotones">
                    <div class="p-col-12 p-md-2">
                        <i class="botonIconoGuardar" (click)="guardar()"  title="Guardar" *ngIf="puedeEditar"></i>
                    </div>
                    <div class="p-col-12 p-md-8"></div>
                    <div class="p-col-12 p-md-2">
                        <i class="botonIconoSalir" (click)="salir()" title="Salir"></i>
                    </div>        
                </div>    
                
            

