<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger" (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-card>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-4">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label">Aplicación Código</label>
                        <div class="p-col">
                            <p-dropdown [(ngModel)]="filtro.aplicacioncodigo" [filter]="true" [options]="lstAplicaciones" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label">Grupo</label>
                        <div class="p-col">
                            <input pInputText type="text" style="width:100%;" [(ngModel)]="filtro.grupo" maxlength="6" (keypress)="defaultBuscar($event)" (ngModelChange)="filtro.grupo=$event.toUpperCase()" />
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-5">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label">Descripción</label>
                        <div class="p-col">
                            <input #myDescripcion pInputText type="text" class="inputDescripcion" style="width:100%;" [(ngModel)]="filtro.descripcion" maxlength="100" (keypress)="defaultBuscar($event)" (ngModelChange)="filtro.descripcion=$event.toUpperCase()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-botones-listado [objTitulo]="objetoTitulo" [tipo]="TIPOSBOTONES_LISTADO.BAS2B">
    </app-botones-listado>

    <p-table [value]="filtro.paginacion.paginacionListaResultado" [paginator]="true" [responsive]="true" [scrollable]="true" [style]="{ width: '100%'}" [rows]="filtro.paginacion.paginacionRegistrosPorPagina" [lazy]="true" scrollHeight="400px" (onLazyLoad)="grillaCargarDatos($event)"
        [totalRecords]="filtro.paginacion.paginacionRegistrosEncontrados" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
        <ng-template pTemplate="header">
            <tr>
                <th class="tablaHeaderAccion3">Acción</th>
                <th class="tablaHeaderCodigo">Aplicación Código</th>
                <th class="tablaHeaderCodigo">Grupo</th>
                <th class="tablaHeaderNombre">Descripción</th>
                <th class="tablaHeaderMonto">Orden</th>
                <th class="tablaHeaderCodigo">Web Grupo</th>
                <th class="tablaHeaderCodigo">Web Grupo Secuencia</th>
                <th class="tablaHeaderCodigo">Imagen</th>
                <th class="tablaHeaderCodigo">Grupo Padre</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td class="tablaColumnaAccion3">
                    <span class="p-column-title">Acción</span>
                    <table>
                        <tr>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text" title="Editar" *ngIf="menuSeguridad.flgModificar" (click)="coreEditar(row)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-search" class="p-button-rounded p-button-text" title="Ver" *ngIf="menuSeguridad.flgModificar" (click)="coreVer(row)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fal fa-trash-alt" class="p-button-rounded p-button-danger p-button-text" title="Eliminar" *ngIf="menuSeguridad.flgBorrar" (click)="coreEliminar(row)"></button>
                            </th>
                        </tr>
                    </table>
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Aplicación Código</span> {{row.aplicacioncodigonombre}}
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Grupo</span> {{row.grupo}}
                </td>
                <td class="tablaColumnaNombre">
                    <span class="p-column-title">Descripción</span> {{row.descripcion}}
                </td>
                <td class="tablaColumnaMonto">
                    <span class="p-column-title">Orden</span> {{row.orden| number:'1.0-0'}}
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Web Grupo</span> {{row.webgrupo}}
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Web Grupo Secuencia</span> {{row.webgruposecuencia}}
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Imagen</span> {{row.imagen}}
                </td>

                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Grupo Padre</span> {{row.grupopadre}}
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="10">
                    No existen registros para mostrar
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>