<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger" (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-card>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-4">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label">Preference</label>
                        <div class="p-col">
                            <input pInputText type="text" style="width:100%;" [(ngModel)]="filtro.preference" maxlength="10" (keypress)="defaultBuscar($event)" (ngModelChange)="filtro.preference=$event.toUpperCase()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-botones-listado [objTitulo]="objetoTitulo" [tipo]="TIPOSBOTONES_LISTADO.BAS2B">
    </app-botones-listado>

    <p-table [value]="filtro.paginacion.paginacionListaResultado" [paginator]="true" [responsive]="true" [style]="{ width: '100%'}" [rows]="filtro.paginacion.paginacionRegistrosPorPagina" [lazy]="true" (onLazyLoad)="grillaCargarDatos($event)" [totalRecords]="filtro.paginacion.paginacionRegistrosEncontrados"
        [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
        <ng-template pTemplate="header">
            <tr>
                <th class="tablaHeaderAccion4">Acción</th>
                <th class="tablaHeaderCodigo">Usuario</th>
                <th class="tablaHeaderCodigo">Preference</th>
                <th class="tablaHeaderCodigo">Aplicación código</th>
                <th class="tablaHeaderCodigo">Tipo valor</th>
                <th class="tablaHeaderCodigo">Valor string</th>
                <th class="tablaHeaderMonto">Valor numero</th>
                <th class="tablaHeaderFecha">Valor fecha</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td class="tablaColumnaAccion3">
                    <span class="p-column-title">Acción</span>
                    <table>
                        <tr>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text" title="Editar" *ngIf="menuSeguridad.flgModificar" (click)="coreEditar(row)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-search" class="p-button-rounded p-button-text" title="Ver" *ngIf="menuSeguridad.flgModificar" (click)="coreVer(row)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fal fa-trash-alt" class="p-button-rounded p-button-danger p-button-text" title="Eliminar" *ngIf="menuSeguridad.flgBorrar" (click)="coreEliminar(row)"></button>
                            </th>
                        </tr>
                    </table>
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Usuario</span> {{row.usuario}}
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Preference</span> {{row.preference}}
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Aplicación código</span> {{row.aplicacioncodigo}}
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Tipo valor</span> {{row.tipovalornombre}}
                </td>
                <td class="tablaColumnaCodigo">
                    <span class="p-column-title">Valor string</span> {{row.valorstring}}
                </td>
                <td class="tablaColumnaMonto">
                    <span class="p-column-title">Valor numero</span> {{row.valornumero| number:'1.0-0'}}
                </td>
                <td class="tablaColumnaFecha">
                    <span class="p-column-title">Valor fecha</span> {{row.valorfecha| date: 'dd/MM/yyyy'}}
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="8">
                    No existen registros para mostrar
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<app-selector-usuariocomun></app-selector-usuariocomun>