<p-blockUI #pnl [blocked]="blocked">
    <div class="ui-g"
        style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width:100px;height: 100px;">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <i class="pi pi-spin pi-spinner" style="color:white; margin: 0 auto;font-size: 5rem"></i>
        </div>
        <br>
        <div class="ui-g-12 ui-md-12 ui-lg-12" style="color:white; margin: 0 auto;">
            <strong>Procesando</strong>
        </div>
    </div>
</p-blockUI>


    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">

                <div class="p-field p-col-12 p-md-2">
                    <label>Especialidad</label>
                    <input pInputText type="text" [(ngModel)]="dtoHrEspecialidad.especialidad" disabled
                        class="hoverDisabled" style="width:100%" />
                </div>

            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4">
                    <label>Descripcion</label>
                    <input pInputText type="text" [(ngModel)]="dtoHrEspecialidad.descripcion" class="hoverDisabled"
                        style="width:100%" />
                </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4">
                    <label>Unidades Replicación</label>
                    <input pInputText type="text" [(ngModel)]="dtoHrEspecialidad.unidadReplicacion" class="hoverDisabled"
                        style="width:100%" />
                </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">

                <div class="p-field p-col-12 p-md-2">
                    <label>Estado</label>
                    <p-dropdown [options]="lstEstados" [(ngModel)]="dtoHrEspecialidad.estado"
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                </div>
            </div>

        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-2">
            <button pButton pRipple label="Guardar" icon="pi pi-save" (click)="guardar()"></button>
        </div>
        <div class="p-field p-col-12 p-md-8"> </div>
    
        <div class="p-field p-col-12 p-md-2">
            <button pButton pRipple label="Salir" icon="pi pi-history" (click)="salir()"></button>
        </div>
    </div>

<p-confirmDialog #c>
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
