<p-blockUI #pnl [blocked]="blocked">
    <div class="ui-g"
        style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width:100px;height: 100px;">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <i class="pi pi-spin pi-spinner" style="color:white; margin: 0 auto;font-size: 5rem"></i>
        </div>
        <br>
        <div class="ui-g-12 ui-md-12 ui-lg-12" style="color:white; margin: 0 auto;">
            <strong>Procesando</strong>
        </div>
    </div>
</p-blockUI>

<p-tabView>
    <p-tabPanel header="Información">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-fluid p-formgrid p-grid">
    
                    <div class="p-field p-col-12 p-md-2">
                        <label>Especialidad</label>
                        <input pInputText type="text" [(ngModel)]="dtoHrEspecialidad2.especialidad" disabled
                            class="hoverDisabled" style="width:100%" />
                    </div>
    
                </div>
    
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-4">
                        <label>Descripcion</label>
                        <input pInputText type="text" [(ngModel)]="dtoHrEspecialidad2.descripcion" class="hoverDisabled"
                            style="width:100%" />
                    </div>
                </div>
    
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-4">
                        <label>Empleado Solicitante</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" class="hoverDisabled"
                                [(ngModel)]="dtoHrEspecialidad2.auxSolicitanteNombre" style="width:100%" disabled />
    
                            <button pButton type="button" icon="pi pi-search-plus" class="ui-button-warn"
                                [disabled]="editable" (click)="verSolicitante()" title="Buscar Solicitante"></button>
                            <button pButton type="button" icon="pi pi-trash" class="ui-button-warn"
                                [disabled]="editable" (click)="limpiarSolicitante()"
                                title="Limpiar Solicitante"></button>
                        </div>
                    </div>
                </div>
    
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-4">
                        <label>Unidades Replicación</label>
                        <input pInputText type="text" [(ngModel)]="dtoHrEspecialidad2.unidadReplicacion" class="hoverDisabled"
                            style="width:100%" />
                    </div>
                </div>
    
                <div class="p-fluid p-formgrid p-grid">
    
                    <div class="p-field p-col-12 p-md-2">
                        <label>Estado</label>
                        <p-dropdown [options]="lstEstados" [(ngModel)]="dtoHrEspecialidad2.estado"
                            [style]="{'width':'100%'}">
                        </p-dropdown>
                    </div>
                </div>
    
            </div>
        </div>
    </p-tabPanel>
    <!-- <p-tabPanel header="Participantes">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-2">
                <button pButton pRipple label="Agregar" icon="pi pi-plus" (click)="agregarparticipante()"></button>
            </div>
            <div class="p-field p-col-12 p-md-10"> </div>
        </div>

        <p-table #dt [value]="dtoHrCapacitacion.lstParticipantes" [scrollable]="true" [style]="{'width': '100%'}"
            [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:60px">Acciones</th>
                    <th style="width:100px">empleado</th>
                    <th style="width:100px">Nombres y Apellidos</th>
                    <th style="width:60px">Ultimo Usuario</th>
                    <th style="width:60px">Fecha Modificación</th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr *ngIf="rowData.auxFlgEliminar!='S'">
                    <td class="tablaColumnaCentro" style="width:60px;text-align:center">
                        <span class="p-column-title">Acción</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton type="button" icon="pi pi-trash" class="ui-button-rounded"
                                        (click)="eliminarParticipante(rowData)"></button>
                                </th>
                            </tr>
                        </table>
                    </td>

                    <td style="width:100px"> <span class="p-column-title">Empleado</span>{{rowData.empleado}}</td>
                    <td style="width:100px"> <span class="p-column-title">Nombre y
                            Apellidos</span>{{rowData.auxEmpleadoNombre}}
                    </td>
                    <td style="width:60px;"> <span class="p-column-title">Última
                            Usuario</span>{{rowData.ultimoUsuario}}</td>
                    <td style="width:60px;"> <span class="p-column-title">Última
                            Fecha</span>{{rowData.ultimaFechaModif | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="5">
                        No se encontraron registros
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-tabPanel> -->

</p-tabView>

<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-2">
        <button pButton pRipple label="Guardar" icon="pi pi-save" (click)="guardar()"></button>
    </div>
    <div class="p-field p-col-12 p-md-8"> </div>

    <div class="p-field p-col-12 p-md-2">
        <button pButton pRipple label="Salir" icon="pi pi-history" (click)="salir()"></button>
    </div>
</div>

<p-confirmDialog #c>
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<app-personacomun-selector (cargarSeleccionEvent)="cargarEmpleado($event)"></app-personacomun-selector>