<p-blockUI #pnl [blocked]="blocked" >
    <div class="ui-g"
        style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width:100px;height: 100px;">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <i class="pi pi-spin pi-spinner" style="color:white; margin: 0 auto;font-size: 5rem"></i>
        </div>
        <br>
        <div class="ui-g-12 ui-md-12 ui-lg-12" style="color:white; margin: 0 auto;">
            <strong>Procesando</strong>
        </div>
    </div>
</p-blockUI>

<p-dialog header="SELECTOR DE {{titulo}}" [(visible)]="verSelector" modal="modal" showEffect="fade" [blockScroll]="true"
    hideEffect="size" [style]="{width: '1200px'}" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden',
        'max-height': '85vh'}">

    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-2">
                    <span>Código</span>
                    <input pInputText type="text" [(ngModel)]="filtro.persona" style="width: 100%;"
                        (keypress)="defaultBuscarPaginacion($event,dtempleados)" pKeyFilter="int" />
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span>Nombre</span>
                    <input #myDescripcion pInputText type="text" [(ngModel)]="filtro.busqueda" style="width: 100%;"
                        (keypress)="defaultBuscarPaginacion($event,dtempleados)" />
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <span>Documento</span>
                    <input pInputText type="text" [(ngModel)]="filtro.documento" style="width: 100%;"
                        (keypress)="defaultBuscarPaginacion($event,dtempleados)" />
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <span>Documento Fiscal</span>
                    <input pInputText type="text" [(ngModel)]="filtro.documentofiscal" style="width: 100%;"
                        (keypress)="defaultBuscarPaginacion($event,dtempleados)" />
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <span>Estado</span>
                    <p-dropdown [options]="lstEstados" [style]="{'width':'10k0%'}" [(ngModel)]="filtro.estado">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-2">
                    <button pButton label="Buscar" icon="fa fa-binoculars" type="button"
                        (click)="coreBuscar(dtempleados)" [style]="{'width':'100%'}"
                        class="ui-button ui-button-rounded"></button>
                </div>
            </div>
        </div>
    </div>

    <p-table #dtempleados [rows]="25" [style]="{width:'100%'}" [paginator]="true" [lazy]="true"
        (onLazyLoad)="cargarEvent($event)" [totalRecords]="filtro.paginacion.paginacionRegistrosEncontrados"
        [responsive]="true" [scrollable]="true" [value]="filtro.paginacion.paginacionListaResultado">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 60px;">Acción</th>
                <th style="width: 260;">Nombre de la Persona</th>
                <th style="width: 50px;">Cli</th>
                <th style="width: 50px;">Prov</th>
                <th style="width: 50px;">Emp</th>
                <th style="width: 50px;">Otro</th>
                <th style="width: 100px;">Documento</th>
                <th style="width: 100px;">Doc Fiscal</th>
                <th style="width: 100px;">Doc Identidad</th>
                <th style="width: 100px;">Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td style="width: 60px;">
                    <span class="p-column-title">Acción</span>
                    <button pButton icon="pi pi-check" type="button" class="p-button-rounded p-button-text botonGrilla"
                        (click)="coreSeleccionar(rowData)"></button>
                </td>
                <td style="width: 260;">
                    <span class="p-column-title">Nombre Busqueda</span>
                    <span>{{rowData.nombrecompleto}}</span>
                </td>
                <td style="width: 50px;">
                    <span class="p-column-title">Cli</span>
                    <p-checkbox [(ngModel)]="rowData.escliente" disabled binary="true"></p-checkbox>
                </td>
                <td style="width: 50px;">
                    <span class="p-column-title">Prov</span>
                    <p-checkbox [(ngModel)]="rowData.esproveedor" disabled binary="true"></p-checkbox>

                </td>
                <td style="width: 50px;">
                    <span class="p-column-title">Emp</span>
                    <p-checkbox [(ngModel)]="rowData.esempleado" disabled binary="true"></p-checkbox>

                </td>
                <td style="width: 50px;">
                    <span class="p-column-title">Otro</span>
                    <p-checkbox [(ngModel)]="rowData.esotro" disabled binary="true"></p-checkbox>

                </td>
                <td style="width: 100px;">
                    <span class="p-column-title">Documento</span>
                    {{rowData.documento}}
                </td>
                <td style="width: 100px;">
                    <span class="p-column-title">Doc Fiscal</span>
                    {{rowData.documentofiscal}}
                </td>
                <td style="width: 100px;">
                    <span class="p-column-title">Doc Identidad</span>
                    {{rowData.documentoidentidad}}
                </td>
                <td style="width: 100px;">
                    <span class="p-column-title">Estado</span>
                    <label *ngIf="rowData.estado == 'A'" class="tablaEstadoActivo">Activo</label>
                    <label *ngIf="rowData.estado != 'A'" class="tablaEstadoInactivo">Inactivo</label>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="2">
                    No Existen Registros para Mostrar
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>