<p-card>

    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label">Grupo</label>
                        <div class="p-col">
                            <input [(ngModel)]="filtro.personagrupo" [style]="{'width':'100%'}" (ngModelChange)="filtro.personagrupo = $event.toUpperCase()" pKeyFilter="alphanum" pInputText type="text" maxlength="3" (keypress)="defaultBuscar($event)">
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label">Descripción</label>
                        <div class="p-col">
                            <input pInputText type="text" class="inputDescripcion" [(ngModel)]="filtro.descripcionlocal" maxlength="40" (keypress)="defaultBuscar($event)" (ngModelChange)="filtro.descripcionlocal=$event.toUpperCase()" />
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label">Estado</label>
                        <div class="p-col">
                            <p-dropdown [(ngModel)]="filtro.estado" [options]="lstEstados" [style]="{'width':'100%'}">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-botones-listado [objTitulo]="objetoTitulo" [tipo]="TIPOSBOTONES_LISTADO.BAS3B">
    </app-botones-listado>

    <p-table [value]="filtro.paginacion.paginacionListaResultado" [paginator]="true" [responsive]="true" [style]="{ width: '100%'}" [rows]="filtro.paginacion.paginacionRegistrosPorPagina" [lazy]="true" (onLazyLoad)="grillaCargarDatos($event)" [totalRecords]="filtro.paginacion.paginacionRegistrosEncontrados"
        [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
        <ng-template pTemplate="header">
            <tr>
                <th class="tablaHeaderAccion3">Acción</th>
                <th class="tablaHeaderCodigoChico">Grupo</th>
                <th class="tablaHeaderIzquierda">Descripción Local</th>
                <th class="tablaHeaderEstado">Estado</th>
                <th class="tablaHeaderEstado">Último Usuario</th>
                <th class="tablaHeaderEstado">Ult. Fecha Modificación</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td class="tablaColumnaAccion3">
                    <span class="p-column-title">Acción</span>
                    <table>
                        <tr>

                            <th>
                                <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text botonGrilla" title="Editar" *ngIf="menuSeguridad.flgModificar" (click)="coreEditar(row)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-search" class="p-button-rounded p-button-text botonGrilla" title="Ver" *ngIf="menuSeguridad.flgModificar" (click)="coreVer(row)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fal fa-trash-alt" class="p-button-rounded p-button-danger p-button-text botonGrilla" *ngIf="menuSeguridad.flgBorrar" title="Eliminar" (click)="coreEliminar(row)"></button>
                            </th>
                        </tr>
                    </table>

                </td>
                <td class="tablaColumnaCodigoChico">
                    <span class="p-column-title">Grupo</span> {{row.personagrupo}}
                </td>
                <td class="tablaColumnaIzquierda">
                    <span class="p-column-title">Descripción Local</span> {{row.descripcionlocal}}
                </td>
                <td class="tablaColumnaEstado">
                    <span class="p-column-title">Estado</span>
                    <label *ngIf="row.estado == 'A'" class="tablaEstadoActivo">Activo</label>
                    <label *ngIf="row.estado == 'I'" class="tablaEstadoInactivo">Inactivo</label>
                </td>
                <td class="tablaColumnaEstado">
                    <span class="p-column-title">Último Usuario</span> {{row.ultimousuario}}
                </td>
                <td class="tablaColumnaEstado">
                    <span class="p-column-title">Ult. Fecha Modificación</span> {{row.ultimafechamodif | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="6">
                    No existen registros para mostrar
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger" (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>