<p-card>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Grupo</label>
                        <div class="p-col">
                            <input pInputText [(ngModel)]="dto.personagrupo" maxlength="3" type="text" [disabled]="!accionnuevo" pKeyFilter="alphanum" (ngModelChange)="dto.personagrupo = $event.toUpperCase()" [style]="{'width':'100%'}" />
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Descripción</label>
                        <div class="p-col">
                            <input pInputText [(ngModel)]="dto.descripcionlocal" maxlength="50" type="text" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-col-12 p-md-3">
                    <div class="p-field p-grid">
                        <label class="p-col-fixed label importante">Estado</label>
                        <div class="p-col">
                            <p-dropdown [(ngModel)]="dto.estado" [options]="lstEstados" [disabled]="!objetoTitulo.puedeEditar" [style]="{'width':'100%'}">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-card>

<app-auditoria [tipoAuditoria]="TIPOSAUDITORIA.BAS2C" [modificacionUsuario]="dto.ultimousuario" [modificacionFecha]="dto.ultimafechamodif">
</app-auditoria>

<app-botones-mantenimiento [objTitulo]="objetoTitulo" [tipo]="TIPOSBOTONES_MANTENIMIENTO.BAS21">
</app-botones-mantenimiento>