<div class="ui-fluid">

    <p-dialog header="SELECTOR DE CENTRO DE ESTUDIOS" [(visible)]="verSelector" modal="modal" showEffect="fade"
        hideEffect="size" [style]="{'width':'700px'}">



        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
                <span>Código</span>
                <input pInputText style="width: 100%;" type="number" [(ngModel)]="filtro.centro" />
            </div>
            <div class="p-col-12 p-md-6 p-lg-8">
                <span>Descripción</span>
                <input pInputText style="width: 100%;" type="text" [(ngModel)]="filtro.descripcion" />
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-fluid p-formgrid p-grid botonesSeccion">
                    <div class="p-field p-col-12 p-md-4">
                        <button pButton label="Buscar" icon="fa fa-binoculars" type="button"
                            (click)="coreBuscar(dtCentroEstudio)" [style]="{'width':'100%'}"
                            class="ui-button ui-button-rounded"></button>
                    </div>
                </div>
            </div>
        </div>

        <p-table #dtCentroEstudio [rows]="registrosPorPagina" [scrollable]="true" [style]="{'width': '100%'}"
            [paginator]="true" [lazy]="true" [value]="filtro.paginacion.paginacionListaResultado"
            (onLazyLoad)="cargarCentroEstudios($event)" selectionMode="single" [responsive]="true"
            [totalRecords]="filtro.paginacion.paginacionRegistrosEncontrados">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tablaHeaderAccion1">Acción</th>
                    <th class="tablaHeaderCodigoChico">Código</th>
                    <th class="tablaHeaderIzquierda">Descripción</th>
                    <th class="tablaHeaderEstado">Estado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns ">
                <tr [pSelectableRow]="rowData">
                    <td class="tablaColumnaAccion1"> <span class="p-column-title">Acción</span>
                        <button pButton pRipple type="button" icon="fa fa-check" class="p-button-rounded p-button-text"
                            title="Seleccionar" (click)="coreSeleccionar(rowData)"></button>
                    </td>
                    <td class="tablaColumnaCodigoChico"> <span class="p-column-title">Código</span>{{rowData.id}}</td>
                    <td class="tablaColumnaIzquierda"> <span class="p-column-title">Descripción</span>{{rowData.nombre}}
                    </td>
                    <td class="tablaColumnaEstado"> <span class="p-column-title">Estado</span>{{rowData.estadoId
                        !='A'?'Activo':'Inactivo'}}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage " let-columns>
                <tr>
                    <td [attr.colspan]="4 ">
                        No se encontraron registros
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-dialog>
</div>